*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Belanosima', sans-serif;
}


header {
    margin: auto;
    max-width: 1170px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #e53170;
    margin: 1rem;
   
}

.paragraph{
    margin-bottom: 2rem;

}


.clearfix::after{
    content:"";
    display:table;
    clear:both;
   }

   .col {
    float: left;
    width: calc(100% / 3 - 15px);
    background-color: black;
    margin: 0 15px 15px 0;
    border: 1px;
    box-shadow: 5px 1px 8px 1px #80808096;
   }

   img{
    width: 80px;
    float: left;
   }

   body{
    margin: auto;
    max-width: 1170px;
    width: 85%;
    text-align: center;
   }



.prof{
    font-size: 10px;
    color: #fefaf1;
    text-align: left;
    padding: 5px;
    display: block;
    padding-left: 5px;
   

}

.txtcard{
    margin-left: 85px;
    padding-top: 8px;
}

.nomi{
    font-size: small;
    color: white;
    text-align: left;
    padding: 5px;
    display: block;
    
}

a {
    text-align: left;
    font-size: 10px;
    display: block;
    padding: 5px;
    color: #4bbde4;
}

main{
    
    margin-right: -14px;
    margin-left: 3px;
}

   